#!/usr/bin/env python3

import sys
import argparse
from subprocess import check_output
import notifiers

def get_conf(provider='email'):
    username = '{{ secret "push" "username" }}'
    password = '{{ secret "push" "password" }}'
    conf = {}
    conf['email'] = {'host': '{{ secret "push" "smtpServer" }}',
                     'port': {{ secret "push" "smtpPort" }},
                     'from': username,
                     'username': username,
                     'password': password,
                     'tls': True,
                     'html': False,
    }
    return conf.get(provider)

conf = get_conf(provider='email')
notifier = notifiers.get_notifier('email')

parser = argparse.ArgumentParser(description='send an email from pushmessage mailbox')
parser.add_argument('-s', '--subject', help='the subject of the message',
                    default='Notification Message from Notifier')
parser.add_argument('-t', '--to', help='the receiver of the message', nargs='?',
                    default=conf['username'])
parser.add_argument('message', metavar='message',
                    help='the contents of the message')

args = vars(parser.parse_args())

response = notifier.notify(subject=args['subject'], message=args['message'], to=args['to'], **conf)

if not response.errors:
    print("message successfully sent to " + args['to'])
    exit(0)
else:
    print(response.errors)
    exit(1)
