#!/bin/sh
set -xe
getIP() {
	curl -s myip.ipip.net | perl -pe 's/.*?([0-9]{1,3}.*[0-9]{1,3}?).*/\1/g'
}
base="{{ secret "ddns_he" "url" }}"
host="$(hostname)"
domain="$host.$base"
password="{{ secret "ddns_he" "password" }}"
ipv6Addr="$(ip -6 addr show scope global primary | awk '/inet6/ {print $2}' | awk -F/ '{print $1}')"
[[ -n "$ipv6Addr" ]] && curl "https://dyn.dns.he.net/nic/update?hostname=$domain&password=$password&myip=$ipv6Addr"
curl "https://dyn.dns.he.net/nic/update?hostname=$domain&password=$password&myip=$(getIP)"
# curl -sS "https://zzzz.io/api/v1/update/v/?token={{ secret "ddns_zzzz" "password" }}&type=aaaa&ip=$ipv6Addr"
