source ~/.config/mutt/commonrc

set imap_user = "{{ secret "sudo" "username" }}"
set imap_pass = "{{ secret "sudo" "password" }}"
set mbox_type = Maildir
set folder = ~/.mail/sudo
# set folder = "imaps://{{ secret "sudo" "imapServer" }}:{{ secret "sudo" "imapPort" }}"
set spoolfile = "+Inbox"
set postponed = "+/Drafts"
set from = "$imap_user"
set postponed ="+Drafts"
set smtp_url = "smtp://$imap_user@{{ secret "sudo" "smtpServer" }}:{{ secret "sudo" "smtpPort" }}"
set smtp_pass = "$imap_pass"
set realname="{{ secret "sudo" "name" }}"

set header_cache = ~/.cache/mutt/sudo/headers
set message_cachedir = ~/.cache/mutt/sudo/bodies
set certificate_file = ~/.cache/mutt/certificates/sudo
