{{- $folders := list "" "test/" "sync/" -}}
{{- $yandex_url := secret "webdav_yandex" "url" -}}
{{- $yandex_username := secret "webdav_yandex" "username" -}}
{{- $yandex_password := secret "webdav_yandex" "password" -}}
{{- $ocloud_url := secret "webdav_ocloud" "url" -}}
{{- $ocloud_username := secret "webdav_ocloud" "username" -}}
{{- $ocloud_password := secret "webdav_ocloud" "password" -}}

{{- range $index, $folder := $folders }}
{{ $yandex_url }}{{ $folder }} {{ $yandex_username }} {{ $yandex_password -}}
{{ end }}
{{ range $index, $folder := $folders }}
{{ $ocloud_url }}{{ $folder }} {{ $ocloud_username }} {{ $ocloud_password -}}
{{ end }}
